body {
    font-family: 'Montserrat', sans-serif;
    background-color: #eee;
}

/* navbar */
.sidebar {
    height: calc(100vh);
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)),
        url(images/img1.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 5px 7px 25px #999;
}

.bottom-border {
    border-bottom: 1px groove #eee;
}

.sidebar-link {
    transition: all 0.4s;
}

.sidebar-link:hover {
    background-color: #444;
    border-radius: 5px;
}

.current {
    background-color: #f44336;
    border-radius: 7px;
    box-shadow: 2px 5px 10px #111;
    transition: all 0.3s;
}

.current:hover {
    background-color: #f66436;
    border-radius: 7px;
    box-shadow: 2px 5px 20px #111;
    transform: translateY(-1px);
}

.search-input {
    background: transparent;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid #999;
    transition: all 0.4s;
}

.search-input:focus {
    background: transparent;
    box-shadow: none;
    border-bottom: 2px solid #dc3545;
}

.search-button {
    border-radius: 50%;
    padding: 10px 16px;
    transition: all 0.4s;
}

.search-button:hover {
    background-color: #eee;
    transform: translateY(-1px);
}

.icon-parent {
    position: relative;
}

.icon-bullet::after {
    content: '';
    position: absolute;
    top: 7px;
    left: 15px;
    height: 12px;
    width: 12px;
    background-color: #f44336;
    border-radius: 50%;
}

/* end of navbar */

/* cards */
.card-common {
    box-shadow: 1px 2px 5px #999;
    transition: all 0.4s;
}

.card-common:hover {
    box-shadow: 2px 3px 15px #999;
    transform: translateY(-1px);
}
/* end of cards */

/* task list */
.task-border {
    border-left: 3px solid #f66436;
}
/* end of task list */

/* html and body */
html,
body {
    height: 100%;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    background-color: #eee;
}
.navbar {
    padding: 0.8rem;
}
.navbar a {
    color: #fff;
    padding: 0.45rem;
    margin: 0 0.25rem;
}

.navbar-nav li {
    padding-right: 20px;
}

.nav-link {
    font-size: 1.1em !important;
}
.carousel-inner img {
    width: 100%;
    height: 100%;
}
.carousel-caption {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.carousel-caption h1 {
    font-size: 500%;
    text-transform: uppercase;
    text-shadow: 1px 1px 15px #000;
}
.carousel-caption h3 {
    font-size: 200%;
    font-weight: 500;
    text-shadow: 1px 1px 10px #000;
    padding-bottom: 1rem;
}
.btn-primary {
    background-color: #6648b1;
    border: 1px solid #6648b1;
}
.btn-primary:hover {
    background-color: #563d7c;
    border: 1px solid #563d7c;
}

/* jumbotron */
.jumbotron {
    padding: 1rem;
    border-radius: 0;
}

.padding {
    padding-bottom: 2rem;
}

.welcome {
    width: 75%;
    margin: 0 auto;
    padding-top: 2rem;
}

.welcome hr {
    border-top: 2px solid #b4b4b4;
    width: 95%;
    margin-top: 0.3rem;
    margin-bottom: 1rem;
}

/* icons html */
/* .fa-code {
  color: #e54d26;
}

.fa-bold {
  color: #563d7c;
}

.fa-css3 {
  color: #2163af;
}

.fa-code,
.fa-bold,
.fa-css3 {
  font-size: 4em;
  margin: 1rem;
} */

/* giv sections emojis */

.fun {
    width: 100%;
    margin-bottom: 2rem;
}

.gif {
    max-width: 100%;
}

/* social class */

.social a {
    font-size: 4.5em;
    padding: 3rem;
}

.fa-facebook {
    color: #3b5998;
}

.fa-twitter {
    color: #00aced;
}

.fa-youtube {
    color: #bb0000;
}

.fa-instagram {
    color: #517fa4;
}

.fa-linkedin {
    color: #5997df;
}

.fa-facebook:hover,
.fa-twitter:hover,
.fa-youtube:hover,
.fa-instagram:hover,
.fa-linkedin:hover {
    color: #d5d5d5;
}

/* footer */
footer {
    background-color: #3f3f3f;
    color: #d5d5d5;
    padding-top: 2rem;
}

hr.light {
    border-top: 1px solid #d5d5d5;
    width: 75%;
    margin-top: 0.8rem;
    margin-bottom: 1rem;
}

hr.light-100 {
    border-top: 1px solid #d5d5d5;
    width: 100%;
    margin-top: 0.8rem;
    margin-bottom: 1rem;
}

/* last */

/*---Media Queries --*/
@media (max-width: 992px) {
    .social a {
        font-size: 4em;
        padding: 2rem;
    }
}
@media (max-width: 768px) {
    .carousel-caption {
        position: absolute;
        top: 45%;
    }
    .carousel-caption h1 {
        font-size: 350%;
    }
    .carousel-caption h3 {
        font-size: 140%;
        font-weight: 400;
        padding-bottom: 0.2rem;
    }
    .carousel-caption .btn {
        font-size: 95%;
        padding: 8px 14px;
    }

    .display-4 {
        font-size: 200%;
    }

    .social a {
        font-size: 2.5em;
        padding: 1.2rem;
    }
}
@media (max-width: 576px) {
    .carousel-caption {
        position: absolute;
        top: 40%;
    }
    .carousel-caption h1 {
        font-size: 250%;
    }
    .carousel-caption h3 {
        font-size: 110%;
    }
    .carousel-caption .btn {
        font-size: 90%;
        padding: 4px 8px;
    }

    .carousel-indicators {
        display: none;
    }

    .display-4 {
        font-size: 160%;
    }

    .social a {
        font-size: 2em;
        padding: 0.7rem;
    }
}

/*---Firefox Bug Fix --*/
.carousel-item {
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
    position: relative;
    width: 100%;
    height: 60%;
    margin: 0 !important;
}
.fixed-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#fixed {
    background-image: url('https://unsplash.com/photos/-BxiBbWR7rA');
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*='col-'] {
    padding: 1rem;
}

/* User readings*/
.userreadings {
    width: 60%;
    height: auto;
    min-height: 10vh;
    margin: 6rem auto;
}

.userreadings .btn {
    border: 1px solid #000;
    background: #fff;
}

.userreadings__wrapper {
    background: #fff;
    padding: 20px 40px;
}

.userreadings__wrapper--header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    border-bottom: 1px solid #eee;
    padding: 10px 0;
}

.userreadings__wrapper--table {
    width: 100%;
}

.readings--table {
    width: 100%;
}
